.body
{
    margin: auto;
    padding: 0;
    vertical-align: middle;
}
form#drop_box
{
    margin: auto;
    padding: 0;
    justify-content: center;
    vertical-align: middle;
}
.dropzone
{
    min-height: 150px;
    border: 1px solid rgba(0,0,0,.8);
    border-radius: 5px;
    padding: 20px 20px;
    vertical-align: -webkit-baseline-middle;
    margin: auto;
    text-align: center;
}